body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.center-container {
    text-align: center;
}

.center-container div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    font-weight: bold;
    margin-bottom: 5px;
}
